
body {
  background-color:#FFFFFF;
  font-family:"Gill sans";
  font-weight: lighter;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;

}

/*----- LOGIN / REGISTER -----*/

.home {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6410EA; 
}

.home h1 {
  justify-content: center;
  font-family:"Gill Sans";
  font-weight:600;
  color: white;
  font-size: 60px;
  letter-spacing: -4px;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#imp {
  width: 100%;
   border-radius: 10px;
   padding: 15px 40px;
   background-color: white;
   border: none;
   font-size: 15px;
   margin: 10px;
}

.button {
    background-color: white; /* Green */
    border: none;
    color: #6410EA;
    border-radius: 30px;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

#imp:focus {
  outline: none;
}

/*----- DOOMMI -----*/


.header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}

.header h1 {
  justify-content: center;
  font-family:"Gill Sans";
  font-weight:600;
  color: #6E01F4;
  font-size: 60px;
  letter-spacing: -4px;
}

.list {
  width: 60vw;
  height: 100vh;
  margin: auto;
  border: 2px #6E01F4 solid;
}

.imput {
  width: 60vw;
  margin: auto;
}


.footer {
  display: flex;
  justify-content: center;
  align-content: center;
}

.footer h2 {
  font-family:"Gill Sans";
  font-weight:normal;
  color: #6E01F4;
  font-size: 20px;
  text-align: center;
}

/* TODO_LIST */


/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
    margin: 50px 100px 0px 100px;
    padding: 0;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 20px 15px 20px 40px;

    font-size: 18px;
    transition: 0.2s;
    list-style-type: none;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
}

li {
    cursor: pointer;
    justify-content: flex-start;
    align-content: center;
    margin: auto;
    border-bottom: 1px #6E01F4 solid;
    font-size: 18px;
    transition: 0.2s;
    list-style-type: none;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {


}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #6E01F4;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the close button */
.close {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 20px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

/* Style the header */

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input {
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Style the "Add" button */

.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: #bbb;
}
